body {
  display: flex;
}

.sidebar {
  border: 2px solid white;
  border-radius: 30px;
  background-color:#34b4e4;
  width: 35%;
  height: auto;
  text-align: center;
}
/*background-color: #429bd5;*/

#logo {
  padding: 15px;
}

.shakeme {
	display:inline-block
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shakeme:hover,
.shakeme:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#roboleok{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  padding: 10px;
  }

#typingelement {
  font-size: 24.5px;
  font-family: 'myraid', sans-serif;
  color: white;
}

#aboutme {
  font-family: 'myraid', sans-serif;
  color: white;
  padding:42px;
  position:relative;
  top: 30px;
}

.typed-cursor{
    color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

footer {
  font-size: 12px;
  font-family: 'roboto', sans-serif;
  color: white;
  bottom: 4%;
  left: 12.5%;
}

hr {
  border: 0;
  width: 32%;
  background-color: white;
  height: 1.2px;
}

a{
  color:#34b4e4;
}

#github {
  color: #343d39;
  padding:5px;
}

#twitter {
  color: #343d39;
  padding:5px;
}

#linkedin {
  color: #343d39;
  padding:5px;
}

#email {
  color: #343d39;
  padding:5px;
}

.projects {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction:column;
}

.gridrow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.grid {
  height: 402px;
  width: 33.33%;
  border-radius: 30px;
  border: 2px white solid;
}

#greygrid {
  background-color: #343d39
}

#bluegrid {
  background-color:#34b4e4;
}

.picturegrid {
  height: 160px;
  width: 160px;
  border-radius: 30px;
  background-color: white;
  margin:auto;
  position:relative;
  top: 25px;
}

.textgrid {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 5px;
}

#language {
  text-align: center;
  position:relative;
  bottom: -110px;
}


@media only screen and (max-width: 640px) {

body {
  flex-wrap: wrap;
  }
.sidebar {
  width: 100%; }

.projects{
  width: 300%;
  flex-direction: column;
}

.gridrow{
  width: 300%;
  flex-direction: column;
}

#language {
  font-size: 9px;
}

#aboutme {
letter-spacing: 1px;
}

}

@media only screen and (max-width: 1024px) {

body {
   flex-wrap: wrap;
   flex-direction: row;
}
  .sidebar {
    width: 100%;
  }

  .projects{
    width: 200%;
    /*flex-wrap: wrap;*/
    flex-direction: row;
  }

  .gridrow{
    width: 200%;
    flex-direction: column;
  }
  .grid {
    width: 100%
  }

}





/*body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  display: flex; }

.content {
  width: 70%; }*/

/*.sidebar {
  border: 2px solid white;
  border-radius: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background: #FF7F50; }*/
/*
li {
  font-size: 28px; }

.skillset {
  font-size: 20px;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: block; }

main {
  text-align: center; }

h1 {
  font-size: 50px;
  text-align: center;
  color: white; }
  h1:hover {
    color: #FF7F50; }

#picture {
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border-radius: 100%; }

.column {
  border-style: solid;
  border-color: white;
  width: 33.33%;
  text-align: center;
  border-width: thin; }
  .column a:hover {
    color: #FF7F50; }

a:link {
  text-decoration: none; }

#display {
  display: flex; }

.title {
  border-style: ridge solid;
  border-radius: 20px;
  border-color: white;
  margin: 25px;
  padding: 10px;
  background-color: lightgrey; }

#education {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }*/

/*@media only screen and (max-width: 640px) {*/
  /*style*/
  /*body {
    flex-direction: column; }

  .sidebar {
    width: 100%; }

  .content {
    width: 100%; }

  #picture {
    width: 50%; } }*/
