$brand-color: #FF7F50;


body {
	font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  // max-width: 960px;
  margin:0 auto;
  position: relative;
  background-color: white;
  display: flex;
}

.content {
  // margin-left: 0 auto;
  // padding-left: 280px;
  width: 70%;
}

.sidebar {
border: 2px solid white;
border-radius: 25px;

top:0; bottom:0; left:0;
width:30%;
background:#FF7F50;
}

li {
  font-size: 28px;
}

.skillset {
  font-size: 20px;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: block;
}

main {
  text-align: center;
}

h1{
	 font-size: 50px;
   text-align: center;
   color: white;
    &:hover {
     color: $brand-color;
   }
}


#picture {
  // position: absolute;
  border: 3px solid white;
  margin: 0 auto;
  margin-top:10px;
  display: block;
  border-radius: 100%;
}


.column {
border-style: solid;
border-color: white;
width:33.33%;
text-align: center;
border-width: thin;

& a:hover {
  color: $brand-color;
}

}


a:link {
    text-decoration: none;
}

#display{
  display: flex;
}

.title {
border-style: ridge solid;
border-radius: 20px;
border-color: white;
margin: 25px;
padding: 10px;
background-color:lightgrey;
}

#education {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}



@media only screen and (max-width: 640px) {
  /*style*/

  body {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
.content{
  width: 100%;
}
  #picture {
    width: 50%;

  }

  }
